<p>
    Viking.js extends Backbone.js. It adds methods similar to those
    found in ActiveRecord, ActiveSupport.
</p>
<p>
    Viking.js is hosted on GitHub, and the annotated source code is
    available, in addition to an online test suite. Viking.js is available
    for use under the MIT software license.
</p>
<p>
    Please report bugs on the GitHub issues page.
</p>
<p>
    Viking.js is open source tool created for use at 42Floors.
</p>

<div class="center">
<a class="btn green download" href="#">Download <span class="version">v.1.0.0</span></a>
</div>