<a href="http://vikingjs.org">Viking.js <span>(0.1.0)</span></a>
<ul>
    <li>
        <a href="http://github.com/42floors/viking">GitHub Repository</a>
    </li>
    <li>
        <a href="docs/viking.html">Annotated Source</a>
    </li>
</ul>

<a href="#">Introduction</a>

<a href="#Model">Model</a>
<ul>
    <li> <a href="#Model-extend">::extend</a></li>
	<li> <a href="#Model-urlRoot">::urlRoot</a></li>
    <li> <a href="#Model-find">::find</a></li>
	<li> <a href="#Model-getRelationshipDetails">::getRelationshipDetails</a></li>

    <li> <a href="#Model-initialize">#constructor / #initialize</a></li>
    <li> <a href="#Model-set">#set</a></li>
    <li> <a href="#Model-select">#select</a></li>
    <li> <a href="#Model-unselect">#unselect</a></li>
    <li> <a href="#Model-toJSON">#toJSON</a></li>
    <li> <a href="#Model-toParam">#toParam</a></li>
    <li> <a href="#Model-iurlRoot">#urlRoot</a></li>
    <li> <a href="#Model-paramRoot">#paramRoot</a></li>
    <li> <a href="#Model-save">#save</a></li>
    <li> <a href="#Model-sync">#sync</a></li>
    <li> <a href="#Model-setErrors">#setErrors</a></li>
    <li> <a href="#Model-errorsOn">#errorsOn</a></li>
    <li> <a href="#Model-coerceAttributes">#coerceAttributes</a></li>
</ul>

<a href="#">Collection</a>
<ul>
    <li> <a>constructor / initialize</a></li>
    <li> <a>model</a></li>
    <li> <a>url</a></li>
    <li> <a>paramRoot</a></li>
    <li> <a>setPredicate</a></li>
    <li> <a>predicateChanged</a></li>
    <li> <a>select</a></li>
    <li> <a>selected</a></li>
    <li> <a>clearSelected</a></li>
    <li> <a>fetch</a></li>
    <li> <a>sync</a></li>
</ul>

<a href="#">PaginatedCollection</a>
<ul>
    <li> <a>constructor / initialize</a></li>
    <li> <a>predicateChanged</a></li>
    <li> <a>cursorChanged</a></li>
    <li> <a>parse</a></li>
    <li> <a>sync</a></li>
</ul>

<a href="#">Cursor</a>
<ul>
    <li> <a>defaults</a></li>
    <li> <a>reset</a></li>
    <li> <a>incrementPage</a></li>
    <li> <a>decrementPage</a></li>
    <li> <a>goToPage</a></li>
    <li> <a>requiresRefresh</a></li>
</ul>

<a href="#">Predicate</a>

<a href="#">Router</a>
<ul>
    <li> <a>route</a></li>
    <li> <a>start</a></li>
    <li> <a>stop</a></li>
    <li> <a>navigate</a></li>
</ul>

<a href="#">Utility</a>
<ul>
    <li> <a>Viking.config</a></li>
    <li> <a>Date.strftime</a></li>
    <li> <a>Number.ordinalize</a></li>
    <li> <a>String.capitalize</a></li>
    <li> <a>String.anticapitalize</a></li>
    <li> <a>String.titleize</a></li>
    <li> <a>String.humanize</a></li>
    <li> <a>String.underscore</a></li>
    <li> <a>String.camelize</a></li>
    <li> <a>String.booleanize</a></li>
    <li> <a>String.dasherize</a></li>
    <li> <a>String.parameterize</a></li>
    <li> <a>String.pluralize</a></li>
    <li> <a>String.singularize</a></li>
</ul>