{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } } ]
  ],
  "plugins": [
    "babel-plugin-transform-class-extended-hook",
    "@babel/plugin-proposal-class-properties"
   ]
}
