{
    "env": {
        "es6": true,
        "browser": true
    },
    "globals": {
        "Viking": true,
        "Backbone": true,
        "escape": true,
        "jQuery": true,
        "strftime": true
    },
    "extends": "eslint:recommended",
    "rules": {
      "no-var": 2
    }
}
