{
    'env': {
        'browser': true
    },
    'globals': {
        '_': true,
        'Viking': true,
        'Backbone': true,
        'escape': true,
        'jQuery': true
    },
    'extends': 'eslint:recommended',
    'rules': {
        'eol-last': "off",
        'quotes':   "off",
        'no-underscore-dangle': "off",
        'strict': "off",
        'no-trailing-spaces': "off",
        'no-extend-native': "off",
        'key-spacing': "off"
    }
}
