---
layout: default
title: Viking.js
---

<div class="head">
    <img src="/images/viking.js.png" width="350" height="100" class="logo" />
    <div class="tag">Pillage your servers!</div>
</div>
<hr>
<div class="terminal">
    <h1>Rails bindings for Backbone.js</h1>
</div>

{% include intro.html %}

<div id="model">
{% capture content %}{% include model.md %}{% endcapture %}
{{ content | markdownify }}
</div>

<h1 id="#model">Collection</h1>
<h1 id="#model">PaginatedCollection</h1>
<h1 id="#model">Cursor</h1>
<h1 id="#model">Predicate</h1>
<h1 id="#model">Router</h1>
<h1 id="#model">Utility</h1>