code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size:90%;
  background-color:#fff!important;
  color:#393D42!important;
  padding:0 .2em!important;
  border:1px solid #dedede!important;
}
pre {
	margin:1em 0!important;
	font-size:90%!important;
	background-color:#fff!important;
	border:1px solid #dedede!important;
	padding:.5em!important;
	line-height:1.5em!important;
	color:#444!important;
	overflow:auto!important;
}
pre code {
	padding:0!important;
	font-size:12px!important;
	background-color:#fff!important;
	border:none!important;
}

pre.console{margin:1em 0!important;font-size:90%!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
pre.console code{padding:0!important;font-size:100%!important;background-color:black!important;border:none!important;color:white!important;}
pre.console span{color:#888!important;}
pre.console span.command{color:yellow!important;}

.highlight  { background: #ffffff; }
.highlight .c { color: #B8B6B1; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000; } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #B8B6B1; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #B8B6B1; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #B8B6B1; font-style: italic } /* Comment.Single */
.highlight .cs { color: #B8B6B1; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color:#456FBD } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #C42B23 } /* Name.Builtin */
.highlight .nc { color: #C42B23; font-weight: bold } /* Name.Class */
.highlight .no { color: #C42B23 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #C42B23; } /* Name.Function */
.highlight .nn { color: #555555; } /* Name.Namespace */
.highlight .nt { color: #000080; } /* Name.Tag */
.highlight .nv { color: #C42B23; } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .s { color: #456FBD; } /* Literal.String */
.highlight .sb { color: #456FBD } /* Literal.String.Backtick */
.highlight .sc { color: #456FBD } /* Literal.String.Char */
.highlight .sd { color: #456FBD } /* Literal.String.Doc */
.highlight .s2 { color: #4687B8 } /* Literal.String.Double */
.highlight .se { color: #4687B8 } /* Literal.String.Escape */
.highlight .sh { color: #4687B8 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #4687B8 } /* Literal.String.Single */
.highlight .ss { color: #74A32E } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #C79F00 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */