body {
    color: hsl(220, 2%, 35%);
}

.nav-heading a {
    color: #199ba1;
    font-size: 18px;
}

.nav-item a {
    color: hsl(74, 50%,40%);
}

.type-function {
    --hue: 124;
}

.type-class {
    --hue: 183;
}

.type-member {
    --hue: 240;
}

.section-method {
    border-bottom-color: #cbcdcc;
    margin-bottom: 4em;
    padding-bottom: 4em;
}

h3 {
    font-weight: bold;
    color: black;
}

tt, code, kbd, samp {
    background-color: hsl(183, 35%, 93%);
}
.params .name, .props .name,
tt, code, kbd, samp {
    color: hsl(183, 50%, 40%);
}

.prettyprint {
    box-shadow: none;
    border: none;
}

.prettyprint code {
    background-color: hsl(183, 35%, 93%);
}

.augments {
    color: hsl(74, 10%, 60%);
}

.ancestors,
.ancestors a {
    color: hsl(74, 10%, 60%);
}

nav {
    padding: 2em;
}

nav,
footer {
    background: hsl(74, 20%, 94%);
}
main {
    border: none;
}

.page-title {
    font-weight: 800;
    color: hsl(220, 2%, 35%);
    line-height: 1;
}
.container {
    grid-template-columns: minmax(min-content, 280px) 1fr;
}

.class-description {
    font-size: 1em;
}

.class-description p:first-of-type {
    font-size: 1.2em;
}

.class-description td, .class-description th {
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
    display: table-cell;
}

.class-description table {
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    font-size: 0.9em;
}

.class-description td {
    border-top: 1px solid #eee
}

.class-description thead tr {
    background-color: #ecf0f0;
    font-weight: bold;
}

.class-description td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.class-description td.description > p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
}


.params thead tr, .props thead tr, .class-description thead tr {
    background-color: hsl(74, 20%, 94%);
}

article table {
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    font-size: 0.9em;
}

article table td, article table th{
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
    display: table-cell;
}

article table td {
    border-top: 1px solid #eee
}

article table thead tr {
    background-color: #ecf0f0;
    font-weight: bold;
}

article table article table thead tr {
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

article table td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

article table td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}